<section>
    <div ng-controller="coreController" ng-init="getBusiness()">
        <h1>Claim Business</h1>
        <div>
            Name: {{business.companyName}}<br>
            Address: {{business.address}}<br>
            City: {{business.city}}<br>
            State: {{business.state}}<br>
            Zip: {{business.postalCode}}<br>
            Phone Number : {{business.phone}}<br>
            Website URL: {{business.websiteURL}}<br>
            Facebook: {{business.facebook}}<br>
            Instagram: {{business.instagram}}<br>
            Twitter: {{business.twitter}}<br>
        </div>
        <div>
            We have called your business via the phone number above with your verification code.<br>
            If you missed our call please click the button below to have us call you again.<br>

        </div>
        <md-button ng-click="resendCode()">send code again</md-button>
        <div>
            <form>
                <input placeholder="Verify Code" ng-model="form.submitCode"><br>
                <md-button type="submit" ng-click="finishClaimBusiness(form.submitCode)">Submit</md-button>
            </form>
        </div>
    </div>
</section>
