<section>
    <div ng-controller="coreController" ng-init="getBusiness()">
        <h1>Edit Business</h1>
        <div>
            <form>
                Name: <input ng-change="editBusiness(business)" ng-model="business.companyName"><br>
                Address: <input ng-change="editBusiness(business)" ng-model="business.address"><br>
                City: <input ng-change="editBusiness(business)" ng-model="business.city"><br>
                State: <input ng-change="editBusiness(business)" ng-model="business.state"><br>
                Zip: <input ng-change="editBusiness(business)" ng-model="business.postalCode"><br>
                Phone Number : <input ng-change="editBusiness(business)" ng-model="business.phone"><br>
                Website URL: <input ng-change="editBusiness(business)" ng-model="business.websiteURL"><br>
                Facebook: <input ng-change="editBusiness(business)" ng-model="business.facebook"><br>
                Instagram: <input ng-change="editBusiness(business)" ng-model="business.instagram"><br>
                Twitter: <input ng-change="editBusiness(business)" ng-model="business.twitter"><br>

            </form>
        </div>
        <md-button ng-click="showAddCoupon()"><i class="fas fa-plus-square"></i> add coupon</md-button>
        <md-button ng-click="showViewCoupon()"><i class="fas fa-bars"></i> view coupons</md-button>
        <md-button ng-click="deleteBusiness()"><i class="fas fa-trash"></i> Delete Business</md-button>
    </div>
</section>