<header
        data-ng-include="'modules/core/views/header.client.view.html'"
        class="navbar"
        flex-order="1"
        flex-gt-md="100"
        flex
></header>

<nav
        class="mainmenu show"
        ng-include="'modules/core/views/nav.client.view.html'"
        flex="none"
        flex-order="2"
></nav>

<section>
    <div ng-controller="coreController" ng-init="getBusiness()">
        <h1>Edit Business</h1>
        <!--<md-button class="btn-default" ng-click="openPage('admin/view/businesses')"><i class="fa fa-arrow-left"></i> businesses</md-button>
        <div ng-init="checkAuth()">
            <md-button ng-click="logout()"><i class="fas fa-user"></i> Logout</md-button>
        </div>-->
        <div>
            <form>
                Name: <input ng-change="editBusiness(business)" ng-model="business.companyName"><br>
                Address: <input ng-change="editBusiness(business)" ng-model="business.address"><br>
                City: <input ng-change="editBusiness(business)" ng-model="business.city"><br>
                State: <input ng-change="editBusiness(business)" ng-model="business.state"><br>
                Zip: <input ng-change="editBusiness(business)" ng-model="business.postalCode"><br>
                Phone Number : <input ng-change="editBusiness(business)" ng-model="business.phone"><br>
                Website URL: <input ng-change="editBusiness(business)" ng-model="business.websiteURL"><br>
                Facebook: <input ng-change="editBusiness(business)" ng-model="business.facebook"><br>
                Instagram: <input ng-change="editBusiness(business)" ng-model="business.instagram"><br>
                Twitter: <input ng-change="editBusiness(business)" ng-model="business.twitter"><br>

            </form>
        </div>
        <md-button ng-click="showAddCoupon()"><i class="fas fa-plus-square"></i> add coupon</md-button>
        <md-button ng-click="showViewCoupon()"><i class="fas fa-bars"></i> view coupons</md-button>
    </div>
</section>