<!--<div ng-controller="navController">
    <h3>Navigation</h3><br/>
    <md-button ng-click="openPage('admin/home')">Home</md-button><br/>
    <md-button ng-click="openPage('admin/viewBusinesses')">Businesses</md-button><br/>
    <md-button ng-click="openPage('admin/viewCoupons')">Coupons</md-button>
</div>-->



<div ng-controller="navController" class="mainmenu" layout="column">
    <!-- side nav for full windows > 1280px wide -->
    <div hide-xs
         hide-sm
         hide-md>
        <h3>Navigation</h3><br/>
        <md-button ng-click="checkRoles('admin', homeURL)">Home</md-button><br/>
        <md-button ng-init="checkRoles('admin', btnName2)" ng-click="checkRoles('admin', businessURL)">{{btn2}}</md-button><br/>
        <md-button ng-click="checkRoles('admin', couponURL)">Coupons</md-button>
    </div>


    <!-- for tablets and phones <= 1280px wide -->
    <md-menu hide-gt-md>
        <md-button aria-label="AC Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <i class="fa fa-bars"></i>
        </md-button>
        <md-menu-content width="3" id="mobileMenu">
            <md-menu-item>
                <div layout="column">
                    <md-button ng-click="checkRoles('admin', homeURL)" layout="row" flex="100"><span flex>Home</span></md-button>
                </div>
            </md-menu-item>
            <md-menu-item>
                <div layout="column">
                    <md-button ng-init="checkRoles('admin', btnName2)" ng-click="checkRoles('admin', businessURL)" layout="row" flex="100"><span flex>{{btn2}}</span></md-button>
                </div>
            </md-menu-item>
            <md-menu-item>
                <div layout="column">
                    <md-button ng-click="checkRoles('admin', couponURL)" layout="row" flex="100"><span flex>Coupons</span></md-button>
                </div>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>