<!--<div ng-controller="navController">
    <h3>Navigation</h3><br/>
    <md-button ng-click="openPage('admin/home')">Home</md-button><br/>
    <md-button ng-click="openPage('admin/viewBusinesses')">Businesses</md-button><br/>
    <md-button ng-click="openPage('admin/viewCoupons')">Coupons</md-button>
</div>-->



<div ng-controller="navController" class="mainmenu" layout="column">
    <!-- side nav for full windows > 1280px wide -->
    <h3>Navigation</h3><br/>
    <md-button ng-click="openPage('admin/home')">Home</md-button><br/>
    <md-button ng-click="openPage('admin/viewBusinesses')">Businesses</md-button><br/>
    <md-button ng-click="openPage('admin/viewCoupons')">Coupons</md-button>

    <!-- for tablets and phones <= 1280px wide -->
    <md-menu
            hide-gt-md
    >
        <md-button aria-label="OCL Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <i class="fa fa-bars"></i>
        </md-button>
        <md-menu-content width="3" id="mobileMenu">
            <md-menu-item>
                <div layout="column">
                    <div layout="row">
                        <strong flex>Home</strong>
                        <i title="Home"></i>
                    </div>
                    <md-list>
                        <md-list-item title="Home" flex="100">
                            <a ng-click="openPage('admin/home')" layout="row" flex="100"><span flex>Home</span></a>
                        </md-list-item>
                    </md-list>
                </div>
            </md-menu-item>
            <md-menu-item>
                <div layout="column">
                    <div layout="row">
                        <strong flex>Businesses</strong>
                        <i title="Businesses"></i>
                    </div>
                    <md-list>
                        <md-list-item title="Businesses" flex="100">
                            <a ng-click="openPage('admin/viewBusinesses')" layout="row" flex="100"><span flex>Businesses</span></a>
                        </md-list-item>
                    </md-list>
                </div>
            </md-menu-item>
            <md-menu-item>
                <div layout="column">
                    <div layout="row">
                        <strong flex>Coupons</strong>
                        <i title="Coupons"></i>
                    </div>
                    <md-list>
                        <md-list-item title="Coupons" flex="100">
                            <a ng-click="openPage('admin/viewCoupons')" layout="row" flex="100"><span flex>Coupons</span></a>
                        </md-list-item>
                    </md-list>
                </div>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>