<section>
    <div ng-controller="coreController" ng-init="getBusinessCoupons()">
        <h1>{{business.companyName}}'s Coupons</h1>
        <md-input-container flex>
            <label><i class="fa fa-search"></i>Search</label>
            <input title="Search" ng-change="refreshDataBC(search)" ng-model="search">
        </md-input-container>
        <div ui-grid="businessCouponsGridOptions" class="grid"></div>
        <md-button ng-click="checkRoles('admin', showAddCoupon)"><i class="fas fa-plus-square"></i> add coupon</md-button>
    </div>
</section>