<section>
    <h1>Create Account</h1>
    <form title="businessOwnerCreate" ng-controller="businessOwnersController">
        <div>
            <input title="Name" placeholder="Name" type="text" ng-model="form.businessOwnerName" ng-required="true">
        </div>
        <div>
            <input title="Email" placeholder="Email" type="email" ng-model="form.businessOwnerEmail" ng-required="true">
        </div>
        <div>
            <input title="Password" placeholder="Password" type="password" ng-model="form.businessOwnerPassword" ng-required="true" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
        </div>
        <div>
            <input title="Confirm Password" placeholder="Confirm Password" type="password" ng-model="businessOwnerConfirmPassword" ng-required="true" ng-pattern="form.businessOwnerPassword">
            <span ng-show="form.businessOwnerPassword != businessOwnerConfirmPassword">Your passwords must match.</span>
        </div>
        <md-button type="submit" ng-disabled="form.businessOwnerPassword != businessOwnerConfirmPassword" ng-click="createBusinessOwnerClaim(form)">Create</md-button>
    </form>
    <div>
        <md-button ng-click="showCreateAccount()">Sign In</md-button>
    </div>
</section>