<section>
    <h1>Admin Sign In</h1>
    <form>
        <div>
            <input title="Email" placeholder="Email" type="email" ng-model="credentials.email" ng-required="true">
        </div>
        <div>
            <input title="Password" placeholder="Password" type="password" ng-model="credentials.password" ng-required="true">
        </div>
        <md-button type="submit" ng-click="signIn(credentials)">Sign In</md-button>
    </form>
    <div>
        <md-button ng-click="">Forgot Password</md-button>
    </div>
    <md-button ng-click="openPage('createAccount')">Create Account</md-button>
</section>