<section>
    <div ng-controller="couponsController" ng-init="getBusinessCoupons()">
        <h1>Coupons</h1>
        <md-button ng-click="logout()">Logout</md-button>
        <md-button ng-click="showBusiness()">Business</md-button>
        <md-input-container flex>
            <label><i class="fa fa-search"></i>Search</label>
            <input title="Search" ng-change="refreshData(search)" ng-model="search">
        </md-input-container>
        <div ui-grid="gridOptions" class="grid"></div>
    </div>
</section>