<section>
    <div ng-controller="businessesController" ng-init="getBusiness()">
        <div>
            <i class="glyphicon-arrow-left"></i>
            <md-button class="btn-default" ng-click="openPage('view/businesses')">businesses</md-button>
        </div>
        <h1>Edit Business</h1>
        <div ng-init="isAuth()">
            <md-button ng-if="auth" ng-click="logout()">Logout</md-button>
            <md-button ng-if="auth == false" ng-click="openPage('signIn')">Sign In</md-button>
        </div>
        <div>
            <form>
                Name: <input ng-model="business.companyName"><br>
                Address: <input ng-model="business.address"><br>
                City: <input ng-model="business.city"><br>
                State: <input ng-model="business.state"><br>
                Zip: <input ng-model="business.postalCode"><br>
                Phone Number : <input ng-model="business.phone"><br>
                Website URL: <input ng-model="business.websiteURL"><br>
                Facebook: <input ng-model="business.facebook"><br>
                Instagram: <input ng-model="business.instagram"><br>
                Twitter: <input ng-model="business.twitter"><br>
                <md-button type="submit" ng-click="editBusiness(business)">update</md-button>
            </form>
        </div>
        <md-button ng-click="showAddCoupon()">add coupon</md-button>
    </div>
</section>